@import 'tailwindcss';
@import 'tailwindcss-primeui';

@import '/fonts/MiSansVF/result.css';
@import '/fonts/NotoSansMonoCJKVF/result.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
/*@import './browser_default.css';*/

* {
  font-family:
    'MiSans VF', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
}

code {
  font-family: 'Noto Sans Mono CJK SC', monospace, sans-serif !important;
}

:root {
  /* 来自 vuejs.org 官网，请结合 max-width 使用 */
  --screen-width-mobile: '370px';
  --screen-width-pad: '794px';
  --screen-width-desktop: '960px';
}

h1,
h2 {
  color: var(--p-);
}

a,
.anchor-like {
  color: var(--p-primary-500);
}

a:hover,
.anchor-like:hover {
  color: var(--p-primary-600);
}

.anchor-like {
  cursor: pointer;
}

html:not(.p-dark) {
  background-color: #f8fafc;
}
